<div class="container-fluid">
  <div class="well">
    <h2>Enter a FR zipcode:</h2>

    <input
      [formControl]="zipcodeForm"
      (keydown.enter)="onSubmit()"
      class="form-control"
      placeholder="Example : 75000"
      type="number"
      id="addLocation"
      [class.valid]="
        zipcodeForm.valid && (zipcodeForm.dirty || zipcodeForm.touched)
      "
      [class.invalid]="
        zipcodeForm.invalid && (zipcodeForm.dirty || zipcodeForm.touched)
      "
    />
    <br />
    <weather-app-state-button
      [defaultTemplate]="defaultTemplate"
    ></weather-app-state-button>

    <ng-template #defaultTemplate>
      <button (click)="onSubmit()" class="btn btn-primary" id="addLocationBtn">
        Add location
      </button>
    </ng-template>

    <p style="width: 100%; text-align: end">
      <i [weatherAppCountdownTimer]="autoRefresh$">Updating weather...</i>
    </p>
  </div>

  <ng-template
    [ngIf]="this.weatherList.length > 0"
    [ngIfElse]="elseNoLocationsTemplate"
  >
    <div *ngFor="let item of weatherList">
      <div class="well flex">
        <weather-app-loader-spinner
          *ngIf="(autoRefresh$ | async) === 0; else elseDisplayWeather"
          [text]="'Loading weather...'"
        ></weather-app-loader-spinner>

        <ng-template #elseDisplayWeather>
          <div>
            <h3>{{ item.city }}&nbsp;({{ item.zipCode }})</h3>
            <h4>Current conditions: {{ item.condition }}</h4>
            <h4>Temperatures today:</h4>
            <p>
              Current&nbsp;{{
                item.temperature | number: "1.0-0"
              }}&deg;&nbsp;-&nbsp;Max&nbsp;{{
                item.maxTemp | number: "1.0-0"
              }}&deg;&nbsp;-&nbsp;Min&nbsp;{{
                item.minTemp | number: "1.0-0"
              }}&deg;
            </p>
            <p>
              <a [routerLink]="['forecast', item.zipCode]"
                >Show 5-day forecast for {{ item.city }}</a
              >
            </p>
          </div>
          <div>
            <span class="close" (click)="deleteWeather(item)">×</span>
            <img
              src="https://www.angulartraining.com/images/weather/{{
                item.icon
              }}.png"
            />
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>
  <ng-template #elseNoLocationsTemplate>
    <div>
      <h3>No locations added yet</h3>
    </div>
  </ng-template>
</div>
