<ng-container [ngSwitch]="state$ | async">
  <ng-container *ngSwitchCase="ButtonStateModel.DEFAULT">
    <ng-template [ngTemplateOutlet]="defaultTemplate"></ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="ButtonStateModel.WORKING">
    <weather-app-loader-spinner></weather-app-loader-spinner>
    <button class="btn btn-info" disabled>Adding...</button>
  </ng-container>
  <ng-container *ngSwitchCase="ButtonStateModel.DONE">
    <button class="btn btn-success" disabled>Done!</button>
  </ng-container>
</ng-container>
